.rich-text {
  z-index: 1;
  padding-top: 50px !important;
  padding-bottom: 82px !important;
}

.rich-text__wrapper {
  display: flex;
  justify-content: end !important;
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 3rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.richtext-custom-button {
  color: #282e47 !important;
  gap: 10px !important;
  display: flex !important;
  align-items: center !important;
  border: solid 1px #282e47 !important;
  border-radius: 26.5px !important;
  padding: 18px 39px 15px 30px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 10.71px !important;
  letter-spacing: 1.01px !important;
  min-width: 234px !important;
  justify-content: space-between !important;
}

.richtext-custom-button svg {
  margin-top: -4px;
}

.custom-rich-text__heading {
  max-width: 420px !important;
  color: #282e47 !important;
}

.custom-rich-text__buttons {
  position: static !important;
  bottom: -20px !important;
  right: 80px !important;
  width: auto !important;
  color: #282e47 !important;
}

@media screen and (min-width: 990px) {
  .custom-rich-text__buttons {
    position: absolute !important;
  }
}

.custom-rich-text__text {
  max-width: 350px !important;
  color: #787878 !important;
}

.custom-rich-text__blocks {
  position: relative !important;
}

.pre-heading {
  color: #cbe346;
  position: static;
  left: -100px;
  top: 40px;
}

@media screen and (min-width: 750px) {
  .pre-heading {
    position: absolute;
  }
}
