@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.custom-slider-component {
  display: flex;
  width: 100%;
}

.custom-slider-component .slider-controls {
  width: 30%;
}

.custom-slider-component .slider-content {
  width: 70%;
}

.custom-slider-component .slider-content ul {
  margin-bottom: 2vw !important;
  margin-top: 2vw !important;
  column-gap: 2vw !important;
}

.custom-slider-component .slider-content ul li .card__inner {
  background-color: white;
  border-radius: 2vw;
}

.custom-slider-component .slider-content ul li * {
  overflow: hidden !important;
}

.slider-controls {
  width: 36%;
  position: relative;
}

.slider-controls * {
  color: white !important;
}

.slider-controls > div {
  width: 57%;
  height: 100%;
  margin-left: auto;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-controls .title {
  font-size: 2.8vw;
  margin-bottom: 1rem;
  margin-top: 0;
}

.slider-controls .collection__description {
  font-size: 1vw;
}

.slider-controls img {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  object-fit: cover !important;
  z-index: -1;
}

.slider-controls .slider-button:first-of-type {
  margin-right: 1vw;
}

.slider-controls .slider-button {
  background-color: #cbe346;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
}

.slider-controls .slider-button:disabled {
  background-color: transparent;
  border: solid 1px white;
}

.slider-controls .slider-buttons {
  justify-content: start !important;
  margin-top: 1vw;
}

.slider-controls .slider-buttons .slider-button .svg-wrapper {
  width: 1vw !important;
  height: 1vw !important;
}

.slider-controls .slider-buttons .slider-button .icon {
  width: 1vw !important;
  height: 1vw !important;
}

@media screen and (min-width: 990px) {
  .custom-slider-component .slider-content ul li:first-child {
    margin-left: 2vw !important;
    scroll-margin-left: 2vw !important;
  }
}

.card-index-number {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  z-index: 2;
  background-color: #cbe346;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
  margin: 1vw;
  font-size: 1vw;
}
