.navbar-wrapper {
  background: transparent;
  height: 80px;
  color: white;
  z-index: 9999;

  .navbar-logo {
    margin-right: 50px;

    img {
      width: 36px;
    }
  }

  .navbar {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;

    @media screen and (min-width: 750px) {
      padding: 0 5rem;
    }

    .menu-items {
      margin-top: 44px;
      width: 100%;
      display: flex;
      gap: 40px;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1.5px;

      div {
        cursor: pointer;
      }

      .active {
        font-weight: 500;
        position: relative;

        &::after {
          position: absolute;
          bottom: -4px;
          left: 0;
          content: '';
          width: 17px;
          border-bottom: solid 2px white;
        }
      }
    }
  }
}
